<div class="box">
  <h2>Login Form</h2>
  <form [formGroup]="loginForm">


    <div class="form-group inputBox">

      <label>FirstName<sup>*</sup> : </label>

      <input type="text" formControlName="FirstName" class="form-control" placeholder="First Name" >
         

   </div>


    <br>



    <div class="form-group inputBox">

      <label>LastName<sup>*</sup> : </label>


      <input type="text" formControlName="LastName" class="form-control" placeholder="Last Name"  >
 
    </div>

    <br>

    <div class="form-group inputBox">

      <label>SelectProfession<sup>*</sup> : </label>
      <select id="s" formControlName="SelectProfession" >

        <option>--select profession--</option>
        <option>Teacher</option>
        <option>Student</option>
        <option>Administrator</option>
      </select>

    </div> <br>


    <div class="form-group">

      <label>ChooseType<sup>*</sup> : </label>
      <!-- <select formControlName="ChooseType" required>
        <option>--select type--</option>
        <option>Maths</option>
        <option>Physics</option>
        <option>Chemistry</option>
        <option>Graduate</option>
        <option>Post Graduate</option>
        <option>Officer</option>
        <option>Assistant</option>




      </select> -->

      <select formControlName="ChooseType">
 
  <optgroup label="Teacher">
          <option>--choose type--</option>
          <option value="Maths">Maths</option>
          <option value="Physics">Physics</option>
          <option value="Chemistry">Chemistry
        </optgroup>

        <optgroup label="Student">
          <option value="Graduate">Graduate</option>
          <option value="Post Graduate">Post Graduate</option>
        </optgroup>

        <optgroup label="Administrator">
          <option value="Officer">Officer</option>
          <option value="Assistant">Assistant</option>
        </optgroup>


      </select>

    </div> <br>

    <input id="i" type="submit" name="Submit" value="Submit">
  </form>

  <br>

  <!-- <div class="MyValues">

    {{loginForm.value | json}}

  </div> -->


</div>