<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: aliceblue;">User Infomation in Table</h1>
        <div class="d-flex">
            <button (click)="clickAddUser()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                class="btn btn-success">Add User details</button>
        </div>
    </div>
</nav>
<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Select Profession</th>
            <th scope="col">Choose Type</th>
            <th scope="col">Action</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let row of employeeData">
            <td>{{row.id}}</td>
            <td>{{row.firstName}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.selectProfession}}</td>
            <td>{{row.chooseType}}</td>

            <td>
                <button (click)=onEdit(row) type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    class="btn btn-info">Update</button>
                <button (click)="deleteUser(row)" class="btn btn-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">User Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>


            <div class="modal-body">
                <form [formGroup]="loginForm">
                    <div class="form-group">
                        <label for="firstName">FirstName:</label>
                        <input type="text" formControlName="firstName" class="form-control" id="firstName"
                            placeholder="First Name">

                        <div *ngIf="loginForm.controls.firstName.invalid && (loginForm.controls.firstName.dirty || loginForm.controls.firstName.touched)"
                            class="error">
                            <div *ngIf="loginForm.controls.firstName.hasError('pattern')" class="text-danger">Enter only
                                AlphaNumerics</div>
                            <div *ngIf="loginForm.controls.firstName.hasError('required')" class="text-danger">First
                                Name is required</div>
                            <div *ngIf="loginForm.controls.firstName.hasError('maxlength')" class="text-danger">Allow
                                only Alpha numeric and Max length 8</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName">LastName:</label>
                        <input type="text" formControlName="lastName" class="form-control" id="lastName"
                            placeholder="Last Name">
                        <div *ngIf="loginForm.controls.lastName.invalid && (loginForm.controls.lastName.dirty || loginForm.controls.lastName.touched)"
                            class="error">
                            <div *ngIf="loginForm.controls.lastName.hasError('pattern')" class="text-danger">Enter only
                                AlphaNumerics</div>
                            <div *ngIf="loginForm.controls.lastName.hasError('required')" class="text-danger">Last Name
                                is required</div>
                            <div *ngIf="loginForm.controls.lastName.hasError('maxlength')" class="text-danger">Allow
                                only Alpha numeric and Max length 8</div>
                        </div>
                    </div>
                    <div class="form-group">

                        <label>SelectProfession : </label> &nbsp;
                        <select id="selectProfession" formControlName="selectProfession" (change)="changeTestType()">
                            <option *ngFor="let tType of testTypes">{{tType}}</option>
                        </select>

                        <div *ngIf="loginForm.controls.selectProfession.invalid && (loginForm.controls.selectProfession.dirty || loginForm.controls.selectProfession.touched)"
                            class="error">
                            <div *ngIf="loginForm.controls.selectProfession.hasError('required')" class="text-danger">
                                Profession is required</div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label>ChooseType : </label> &nbsp;

                        <select id="chooseType" formControlName="chooseType"   >
                            <option *ngFor="let tName of currentTestNames">{{tName}}</option>
                        </select>
                        <div *ngIf="loginForm.controls.selectProfession.invalid && (loginForm.controls.selectProfession.dirty || loginForm.controls.selectProfession.touched)"
                            class="error">
                            <div *ngIf="loginForm.controls.selectProfession.hasError('required')" class="text-danger">
                                Type is required</div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <button type="button" id="cancel" class="btn btn-secondary"
                            data-bs-dismiss="modal">Close</button>

                        <button  *ngIf="showAdd" [disabled]="loginForm.invalid" (click)="postUserDetails()"
                            class="btn btn-primary">Submit</button>


                        <button type="button" *ngIf="showUpdate" [disabled]="loginForm.invalid"
                            (click)="updateUserDetails()" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>

        </div>
    </div>